/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* --------------
Common Usage
--------------------- */

body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------*\
navigation Bar
\*---------------------- */

/* Welcome Section  */

.container {
    /* display: flex; */
    position: absolute;
    width: 100%;
    height: 677px;
    left: 0px;
    top: 0px;
    background-color: #2D25A0;
}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 64px;
}

button {
    background-color: #E02C6D;
    top: 25px;
    padding: 15px;
    border: 0;
    color: white;
}

.fa-arrow-right {
    padding: 8px;
}

a {
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.welcome-left {
    position: absolute;
    width: 485px;
    height: 230px;
    left: 156px;
    top: 135px;
}

.welcome-right img {
    position: absolute;
    width: 556.01px;
    height: 438px;
    left: 827px;
    top: 135px;
}

.container:hover img {
    transform: scale(1.5);
    position: relative;
    transition: transform 2s width ease-in-out;
}

/* Player Section  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    margin: 740px 0 67px 0;
    grid-column-gap: 25px;
}

.player img {
    width: 300px;
    height: 256px;
}

.player {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    width: 300px;
    height: 474px;
    padding: 15px;
}

/* footer section  */

footer {
    text-align: center;
    justify-content: center;
}

footer img {
    width: 483.87px;
    height: 110px;
    padding-bottom: 20px;
}

.fab {
    background: #969BAB;
    border-radius: 50%;
    Width: 32px;
    Height: 32px;
    align-items: center;
    line-height: 2;
}

.fab.fa-instagram:hover {
    color: #fb3958;
}

.fab.fa-dribbble:hover {
    color: #ea4c89
}

.fab.fa-youtube:hover {
    color: #c4302b
}

.fab.fa-twitter:hover {
    color: #1DA1F2;
}

.social-link {
    justify-content: center;
    padding-bottom: 20px;
}